# General Setup
PORT=9090

# setup VertexAI
VERTEXAI_PROJECT={project_id}
VERTEXAI_LOCATION=global
VERTEXAI_AVAILABLE_MODELS="google/gemini-2.5-pro,google/gemini-2.5-flash,google/gemini-2.5-flash-image,gemini-3.1-pro-preview,gemini-3-flash-preview,claude-sonnet-4-6"

# setup OpenAI
OPENAI_API_KEY={open_ai_key}
